Flask
spacy
pypdf2
docx2txt
scikit-learn
numpy
scipy
Jinja2
werkzeug
gunicorn
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
